*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    word-break: break-all;
}
body{
    margin: 0;
    padding: 0;
}
.contain{
    background:url(images/mgr.jpg) center no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
}
.MegaMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
    flex-wrap: wrap;
}
.main{
    display: flex;
    width: 40%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text:hover{
    color: rgb(255, 98, 0);
}
.text{
    color: white;
}
.Smain{
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 50px;
    align-items: center;
    gap: 0 15px;
    justify-content: end;
}
.images{
    width: 20px;
    height: 20px;
}
.text1{
    color: white;
    align-self: center;
}
.line{
    width: 100%;
    background-color: rgb(255, 98, 1);
    height: 2px;
}
.pos{
    display: flex;
    justify-content: center;
    margin-top:100px ;
    width: 100%;
    height: 400px;
    vertical-align: middle;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45%;
    align-items: center;
    gap: 7px 0;
}
.text2{
    font-size: 36px;
    font-weight: 600;
    color: white;
}
.text3{
    font-size: 12px;
    color: white;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 30%;
    background-color: orange;
    border-radius:40px;
}
.button:hover{
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 10px black;
    
}
.button:active{
    transform: translatey(2px);
    box-shadow: 1px 1px 2px black;
    transition: 0.2s;
}
.text4{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.play{
    position: relative;
    top: 13%;
    left: 5%;
    display: flex;
    width: 180px;
    height: 80px;
    align-items: center;
    gap: 0 5px;
    justify-content: space-around;
}
.text5{
    font-size: 12px;
    color: white;
    font-weight: 600;
}
.text6{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(18,50px);
}
.text7{
    text-align: center;
    font-size: 50px;
    color: rgb(74, 74, 74);
    grid-column: 4/10;
    grid-row: 3;
    place-self: center;
}
.text8{
    text-align: center;
    font-size: 16px;
    color: rgb(117, 117, 117);
    grid-row: 4/7;
    grid-column: 4/10;
    place-self: center center;
}
.qube1{
    width: 90%;
    place-self: center center;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px wheat;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);

}
.text9{
    font-size: 16px;
    font-weight: 600;
    grid-column: 2/6;
    grid-row: 3/6;
    color: rgb(74, 74, 74);
}
.text10{
    font-size: 14px;
    grid-column: 2/6;
    grid-row: 4/6;
    color: rgb(117, 117, 117);
}
#P1{
    grid-column: 4/6;
    grid-row: 8/14;
}
#P2{
    grid-column: 6/8;
    grid-row: 8/14;
}
#P3{
    grid-column: 8/10;
    grid-row: 8/14;
}
#P4{
    grid-column: 2/3;
    grid-row: 2/3;
}
.button1{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid black;
    grid-column: 6;
    grid-row: 15;
    place-self: center center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.button2{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid black;
    grid-column: 6/8;
    grid-row: 15;
    place-self: center center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.button3{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid black;
    grid-column: 7;
    grid-row: 15;
    place-self: center center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.tocka{
    height: 12px;
    width: 12px;
    background-color:rgb(74, 74, 74);
    border-radius: 12px;
}
#W1:hover{
    border: 1px  solid rgb(251, 173, 39);
    .tocka{
        background-color: rgb(251, 173, 39);
    }
}
.container2{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(18,1fr);
}
.text11{
    grid-column: 4/10;
    place-self: center center;
    grid-row: 1;
    font-size: 50px;
    text-align: center;
    color:rgb(74, 74, 74);
}
.text12{
    grid-column: 4/10;
    place-self: center center;
    grid-row: 2;
    font-size: 16px;
    color: rgb(117, 117, 117);
}
.search{
    grid-row: 3/4;
    grid-column: 6;
    place-self: center end;
}
.text13{
    color: rgb(117, 117, 117);
    grid-column: 7;
    font-size: 18;
    grid-row: 3/4;
    place-self: center start;
}
.arrow{
    position: relative;
    top: 10px;
    width: 50px;
    height: 50px;
}
#E1{
    grid-row: 10;
    grid-column: 2;
    place-self: end end;
    rotate: 180deg;
}
#E2{
    left: 20px;
    grid-row: 10;
    grid-column: 10;
    place-self: end end;
}
.box{
    background-color: rgb(178, 178, 178);
    box-shadow: 0 0 10px wheat;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
#R1{
    grid-row: 5/11;
    grid-column: 4/6;
}
#R2{
    grid-row: 5/11;
    grid-column: 6/8;
}
#R3{
    grid-row: 5/11;
    grid-column: 8/10;
}
#R4{  
    grid-row: 11/17;
    grid-column: 4/6;
}
#R5{
    grid-row: 11/17;
    grid-column: 6/8;
}
#R6{
    grid-row: 11/17;
    grid-column: 8/10;
}
.text14{
    color: white;
    grid-column: 1/9;
    grid-row: 3;
    place-self: center center;
}

